*.aux
.idea
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
__latexindent_temp.tex
*.bcf
*.fdb_latexmk
*.run.xml
*.fls
*.synctex.gz
node_modules
04_data_analysis/data
